# Python bytecode and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# VSCode and IDE settings
.vscode/
.idea/

# macOS files
.DS_Store

# Log files
*.log

# Docker files
.dockerignore
Dockerfile.backup

# Data science artifacts
data/processed/
models/
*.csv
*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env